<div ng-controller="ClassController">
    <!--console.log(post.id)-->
    <div ng-repeat="post in class" class="border">
        
        
            <div id="info">
                <b>Character</b> : {{post.Name}}
                <br>
                <b>Class</b> : {{post.Class}}
          </div>
          <div id="imageContainer">
            <img ng-click="getName(post.id)"src="{{post.Image}}" style="height:200px";"width:200px">  
          </div>
            
    </div>
    <a href="/#/api"><button id="homeButton">Home</button></a>
</div>